 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I can help your business or product reach it's mobile requirements, in a much more cost effective, and higher quality, way than through an agency</p>
                </div>
                <div class="col-lg-4">
                    <p>Contact me to see what we can do together, and check out some of my previous products below.</p>
                </div>
            </div>
        </div>
    </section>